.places {
	text-align: left;
}


.places h1 {
	font-size: 30px;
}


.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align:center;
	align-content: horizontal;
}

