.places {
	text-align: center;
	padding-left: 30px;
	padding-top: 10px;
}

.places h1 {
	font-size: 30px;
	text-align: left;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 30px;
}

.places article h2 {
	font-size: 30px;
	margin-top: 0;
	padding-left: 0%;
}

.price_by_night {
	font-size: 30px;
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    top: 20px;
    right: 15px;
	margin: auto;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	padding: 5px;
}


.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: inherit;
	padding: 20px;
}

.guest_icon {
	height: 50px;
	width: 100%;
    background: url("../images/icon_group.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.bedroom_icon {
	height: 50px;
	width: 100%;
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.bathroom_icon {
	height: 50px;
	width: 100%;
    background: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.user {
	margin-top: 20px;
	text-align: left;
}

.description {
	margin-top: 10px;
	text-align: left;
	line-height: 1.5;
}